#toast-container > div {
    opacity:1;
}
* {
    font-family: sans-serif;
}
/*form*/
#myModal input,#myModal select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#myModalUpdate input, #myModalUpdate select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    transition: all .5s ease;
    color: black;
    border: 2px solid midnightblue;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 12px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 2px;
}
button:hover {
    color: #001F3F;
    background-color: darkgray;
}

/*table*/
#monitors {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.monitorTitle {
    font-family: sans-serif;
    text-shadow: 1px 1px 5px lightgray;
    letter-spacing: 5px;
    text-align: center;
    alignment: center;
}
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close2:hover,
#close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#monitors td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#monitors tr:nth-child(even) {
    background-color: #f2f2f2;
}

#monitors tr:hover {
    background-color: #ddd;
}

#monitors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #114e80;
    color: white;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: darkred;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.warning {background-color: #ff9800;}